@model IEnumerable<Client.ViewModel.BookingViewModel>

@{
    ViewData["Title"] = "BookingDetails";
}

<h1>Booking Details</h1>

@if(Model.Count()!=0)
{
<table class="table">
    <thead>
        <tr>

            @*<th>
                @Html.DisplayNameFor(model => model.Username)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.VehicleID)
            </th>*@
            <th>
                @Html.DisplayName("Booking Date")
            </th>
            <th>
                @Html.DisplayName("Number of Days")
            </th>
            <th>
                @Html.DisplayName("Total Fare")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                @*<td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleID)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Date_of_Booking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total_Km)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total_Fare)
                </td>

            </tr>
        }
    </tbody>
</table>
}
else
{
    <h3 style="color:red"> No Bookings have been done yet!</h3>
}

